body {
    margin: 0;
}

#top-bar{
    align-items: center;
    background-color: #f5cfbf;
    display: flex;
    height: 140px;
    justify-content: center;
    position: sticky;
    top: 0;
}

#header-logo {
    margin: 0 10px;
}

#bar-content {
    align-items: center;
    background-color: #d6b6a9;
    border-radius: 20px;
    display: flex;
    height: 50%;
    justify-content: space-between;
    width: 90%;
}

.nav-item {
    margin: 0 10px;
}

.nav-item a {
    color: white;
    font-size: 16px;
    text-decoration: none;
}

.nav-toggle {
    position: relative;
}

.menu {
    background-color: white;
    display: inline-block;
    height: auto;
    left: -5px;
    padding: 5px;
    position: absolute;
    top: 20px;
    width: 150px;
}

.hidden > .menu {
    display: none;
}

#search-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    margin: 80px 0;
}

h1 {
    font-size: 45px;
}


#search-content {
    box-sizing: border-box;
    height: 40px;
    width: 300px;
}

#search-location {
    box-sizing: border-box;
    height: 40px;
    margin-left: -3px;
    width: 200px;
}

#search-bar button {
    height: 40px;
    margin-left: -3px;
}

.filter-list {
    display: grid;
    grid-template-columns: 1fr 8fr;
}

.park-row {
    border-bottom: solid black 1px;
    border-top: solid black 1px;
    display: grid;
    margin: 20px 50px;
}

.park-name{
    box-sizing: border-box;
    padding: 5px;
    width: 100%;
    
}

.park-thumbnail {
    width: 250px;
}

.park-pic-info {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px 20px;
}

.park-info {
    margin: 0 15px;
    width: 80%;
}

.park-filter-fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.filter-form {
    display: flex;
    flex-direction: column;
}
