.filter-sidebar {
    background-color: #f97668;
    border-radius: 8px;
    min-width: 240px;
    padding: 1.5rem;
  }
  
  .filter-sidebar label {
    text-align: left;
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
    font-size: 1.1rem;
    color: #fbfbec;
  }
  
  .filter-sidebar .form-check {
    margin-bottom: 1rem;
  }
  
  .filter-sidebar .form-select {
    margin-bottom: 1.5rem;
  }
  
  .filter-sidebar .form-check-input {
    width: 1.2em;
    height: 1.2em;
  }
  